.trades{
  border-top: 10px dashed rgb(91, 82, 82) ;
  text-align: center;
  background-color: aliceblue;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.selectedcard{
  padding-bottom: 10px;
}

.tradecard{
  border: 5px solid;
  margin-left: 300px;
  margin-right: 300px;
}
.selectedCards{
  font-weight: bold;
}